* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    color: #916A2F;
    text-align: center;
}
.text {
    display: flex;
    margin-top: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
}

button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}