*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.normal {
    color: brown;
    font-weight: normal;    /*Default 400*/
    text-decoration:red underline; /* before underline use color code  */
}

.bold {
    font-weight: bold;    /*Default 700*/
    text-decoration: line-through;

}

.bolder {
    font-weight: bolder;
}

.lighter {
    font-weight: light;
    color: violet;
}

