*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.normal {
    color: brown;
    font-weight: normal;    /*Default 400*/
    text-decoration: wavy red underline; /* before underline use color code  */
}

.bold {
    font-weight: bold;    /*Default 700*/
    text-decoration: blueviolet line-through;

}

.bolder {
    font-weight: bolder;
    text-decoration: double rgb(143, 143, 28) overline;
}

.lighter {
    font-weight: light;
    color: violet;
}

