*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.normal {
    color: brown;
    font-weight: normal;    /*Default 400*/
}

.bold {
    font-weight: bold;    /*Default 700*/
}

.bolder {
    font-weight: bolder;
}

.lighter {
    font-weight: light;
    color: violet;
}

