*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* text-align property use here */
h1{
    color: rgba(228, 186, 47, 0.827);
    /* text-align: left; text-align propery left/start */
    /* text-align: right; text-align propery right/end */
    text-align: center;  /* text-align propery center */

}